mediapipe==0.10.11
numpy==1.26.4
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80 # Sometimes opencv-python installs this too
pyautogui==0.9.54
Pillow==10.3.0 # A dependency of some libraries, often for image processing
ttkbootstrap==1.10.1
